.background-image-fullscreen {
    background-image: url(../backdrop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-text {
    text-align: center;
}

.prompt-width {
    width: 75%;
}

.prompt-font-size {
    font-size: 52px;
}

.dark-grey {
    color: #403d3d;
}

.float-right {
    float: right;
}

.min-height {
    min-height: 12rem;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .prompt-width {
        width: 90%;
    }

    .background-image-fullscreen {
        height: 95vh;
    }

    .prompt-font-size {
        font-size: 42px;
    }
}

@media only screen and (max-width: 450px) {
    .center-content {
        min-height: 10rem;
    }

    .background-image-fullscreen {
        height: 92vh;
    }

    .prompt-width {
        width: 95%;
    }

    .prompt-font-size {
        font-size: 32px;
    }
}

@media only screen and (max-width: 350px) {
    .background-image-fullscreen {
        height: 95vh;
    }
}